.one{
    width: 100px;
    height: 100px;
    background-color:red ;
    position:absolute ;
}
.two{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* --6position: static; */
    left: 100px;
 
}
.three{
    width: 100px;
    height: 100px;
    background-color:pink ;
}
.four{
    width: 100px;
    height: 100px;
    background-color:green ;
}